<div class="settings-layout">
  <h2>Paramètres</h2>
  <h4>Actions sur les:</h4>
  <nav class="settings-nav">
    <ul>
      <li><a routerLink="categories" routerLinkActive="active">Domaines</a></li>
      <li><a routerLink="documents" routerLinkActive="active">Documents</a></li>
      <li><a routerLink="collaborateurs" routerLinkActive="active">Collaborateurs</a></li>
      <li><a routerLink="facultes" routerLinkActive="active">Facultés</a></li>
      <li><a routerLink="filieres" routerLinkActive="active">Filières</a></li>
      <li><a routerLink="niveaux" routerLinkActive="active">Niveaux</a></li>
      <li><a routerLink="universites" routerLinkActive="active">Universités</a></li>
    </ul>
  </nav>
  <div class="settings-content">
    <router-outlet></router-outlet>
  </div>
</div>