<div class="settings-layout">
  <h2>Paramètres</h2>
  <h4>Actions sur les:</h4>
  <nav class="settings-nav">
    <ul>
      <li><a routerLink="categories" routerLinkActive="active">Domaines ({{ categories.length }})</a></li>
      <li><a routerLink="documents" routerLinkActive="active">Documents ({{ documents.length }})</a></li>
      <li><a routerLink="collaborateurs" routerLinkActive="active">Collaborateurs ({{ collaborators.length }})</a></li>
      <li><a routerLink="facultes" routerLinkActive="active">Facultés ({{ faculties.length }})</a></li>
      <li><a routerLink="filieres" routerLinkActive="active">Filières ({{ filieres.length }})</a></li>
      <li><a routerLink="niveaux" routerLinkActive="active">Niveaux ({{ niveaux.length }})</a></li>
      <li><a routerLink="universites" routerLinkActive="active">Universités ({{ universites.length }})</a></li>
    </ul>
  </nav>
  <div class="settings-content">
    <router-outlet></router-outlet>
  </div>
</div>