<div class="adminsys-layout">
  <nav class="sidebar">
    <ul>
      <li><a routerLink="/adminsys/index" routerLinkActive="active">Acceuil</a></li>
      <li><a routerLink="/adminsys/projets" routerLinkActive="active">Gestion des Projets</a></li>
      <li><a routerLink="/adminsys/users" routerLinkActive="active">Gestion des Utilisateurs</a></li>
      <li><a routerLink="/adminsys/activity-logs" routerLinkActive="active">Historique des activités du système</a></li>

      <li><a routerLink="/adminsys/settings" routerLinkActive="active">Paramètres</a></li>
    </ul>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
