

    <app-nav [isLoggedIn]="isLoggedIn" [userName]="userName"></app-nav>

        <!-- Bouton retour dashboard -->
<div class="dashboard-return-bar" *ngIf="isLoggedIn">
    <a [routerLink]="getDashboardLink()" class="dashboard-return-btn" aria-label="Retour au Dashboard">
        <i class="fas fa-arrow-left"></i> Retour au Dashboard
    </a>
</div>
    <app-hero-section></app-hero-section>
    <app-recent-post [prevButtonColor]="'#ff0000'" [nextButtonColor]="'#0000ff'" class="recent-posts section"   [pad]="'0px'" [fColor]="'black'" [bgColor]="'white'"></app-recent-post>
    <app-stats></app-stats>
    <app-team></app-team>
    <!-- <app-recent-post></app-recent-post> -->
    <!-- <app-faqs></app-faqs> -->
    <!-- <app-contact></app-contact> -->

